/JAVA - HW7/.settings/

/JAVA - HW7/.classpath

/JAVA - HW7/.project
/JAVA - HW1/src/Q2.class

/JAVA - HW1/src/Q4.class

/JAVA - HW3/src/NQOutput.txt
/JAVA - HW8/.settings/

/JAVA - HW8/.classpath

/JAVA - HW8/.project
/JAVA - HW8/bin/